@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: rgb(10, 9, 10);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#new-content{
  align-items: center;
  justify-content:center;
  margin: 4rem;
}

.btn {
  background-color: rgb(247, 245, 252);
  border-radius: 6px;
  border: none;
  color: rgb(17, 15, 15);
  font-weight: 600;
  margin: 1rem;
  padding: 1.5rem 2.5rem;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  width: fit-content;
}

.btn:hover {
  opacity: 1.5;
  color: rgb(88, 89, 90);
}

.btn:focus {
  outline: none;
}
@media only screen and (min-width: 300px) and (max-width: 490px) {
  #new-content{
    margin: 1rem;
  }
  body{
    margin-bottom: 3rem;
  }
}